.perfil-descripcion{
	border-bottom: 1px solid rgba(122,122,122,0.5);
	position: relative;
	padding: 12px;

}

.perfil-descripcion:after {
	position: absolute;
	top:90%;
	right: 0;
	content:'\02042';
	color: rgba(233, 40, 36, 0.7);
	font-size: 18px;
	color: 
}

.perfil-descripcion:before {
	position: absolute;
	top: 0;
	left: 0;
	content:'\02042';
	color: rgba(233, 40, 36, 0.7);
	font-size: 18px;
}
.app-color {
	color: rgba(233, 40, 36, 0.7);
}
.app-vibrant-text {
	color: #901f61; font-weight: bold; font-style: italic; font-size: 28px;
}
.app-text-color {
	color: black;
}
.vibrant-color {
	color: #901f61!important; font-weight: bold!important;
}
.translucent-black {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3)
}

.tranformation-0 {
	-webkit-transform: translateY(0px) rotate(180deg);
        -ms-transform: translateY(0px) rotate(180deg);
            transform: translateY(0px) rotate(180deg);
}

.column-opcion-header > p {
	font-size: 40px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	padding: 16px;
	border-width: 2px;
	border-style: dashed solid;
	border-color:  #901f61;
	line-height: 1.4;
	box-sizing: content-box;
}

.background-vibrant{
	width: 100%;
	position: relative;
	background-color: #901f61;
	padding: 60px 0;
	box-sizing: content-box;
}

.background-vibrant * {
	color:white;
}
.background-inside {
	-webkit-box-shadow: inset 9px 50px 100px 10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 9px 50px 100px 10px rgba(0,0,0,0.75);
	box-shadow: inset 9px 50px 100px 10px rgba(0,0,0,0.75)
}